/*body > div.page > form > div:nth-child(1) > div:nth-child(2) > label*/

.space-buttom { margin-bottom: 25px; }
small{ font-size: 80%; line-height: 1.5; display: block; margin-top: .3em; }
/*label { padding: 0 0 0 3em !important; }*/

form { margin: 0 auto 2.5em; width: 880px; }

.input-group > span.input-group-addon { font-size: .7em;}

#add-btn { margin-right: 2em; margin-top: 1em;}

.btn-box { text-align: right;  }


