
#graph { margin: 0 auto; height: 100%; width: 90%;}

.node { stroke: #042029; stroke-width: 1px; fill: #2176C7; cursor: move; }
.node.fixed { fill: #274b96; }

.node text { font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace; font-size: 1.2em; fill: #000; }

.link { stroke: #536870; stroke-opacity: .6; }

.msg { background: #cee5F5; fill-opacity: 0.8; padding: 0.5em; border: 1px solid #869eb5; display: none;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 200px;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: arial, helvetica, sans-serif;
}

.popup h2 {
    margin: 0 0 1rem 0;
}
