
#graph-box { width: 100%; display: inline-block; min-height: 680px}
#graph { margin-right:.5%; width: 69.5%; display: inline-block; border: 1px solid lightgray;}

.node { stroke: #042029; stroke-width: 1px; fill: #2176C7; cursor: move; }
.node.fixed { fill: #274b96; }

.node text { font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace; font-size: 1.2em; fill: #000; }

.link { stroke: #536870; stroke-opacity: .6; }

/*.msg-box { background: #cee5F5; fill-opacity: 0.8; padding: 0.5em; border: 1px solid #869eb5;*/
    /*-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; z-index: 1; position: relative;}*/
#title-bar { width: 69.5%; }
h2 { display: inline-block; }
#pdf-btn, #txt-btn { margin: 2.1em 0 0 .5em; float: right; }

.modal-content { background: lightyellow; margin-top: 100px; }
.modal-header { background: gold; }

#details-panel { height: 100%; width: 29.5%; margin-left:.5%; display: inline-block; float: right;}
#details-title { display: inline-block;}

#details-panel .panel-body { font-size: .8em;}
#details-panel .bold { font-weight: bold;}
#details-panel .unit { font-style: italic;}

#lineage-btn { float: right; position: relative; top: -7px; }




