#remove-fields-btn { position: relative; top: -1px; }

#filter-box { min-width: 300px; padding-left: 2em; float: left; width: 25%; }
#filter-box .title { display: inline-block; font-size: 1.4em; margin: 1em 0 .5em;}
#filter-select { display: inline-block; }

.fields { margin: .7em 0; }
.fields .input-group { margin-bottom: 15px; }
.fields .form-group { display: flex; }
.fields .form-control { font-size: .9em; }
.fields .form-group.no-unit input { height: 30px; }

.field button { float: left; margin-right: .5em; position: relative; top: 4px; }
