#remove-fields-btn { position: relative; top: -2px; }
#filter-box { height: 100%; width: 29.5%; margin-left: .5%; display: inline-block; float: right; }

#filter-box .title { display: inline-block; font-size: 1.4em; margin: 1em 0 .5em;}

/*#details-panel .panel-body { font-size: .8em;}*/
/*#details-panel .bold { font-weight: bold;}*/
/*#details-panel .unit { font-style: italic;}*/

/*#lineage-btn { float: right; position: relative; top: -7px; }*/

#filter-select { display: inline-block; }

#filter-box { height: 100%; width: 29.5%; padding-left: 2em; float: left; }

.fields { margin: .7em 0; }

.fields .input-group { margin-bottom: 15px; }

.fields .form-group { display: flex; }

.fields .form-control { font-size: .9em; }

.fields .form-group.no-unit input { height: 30px; }

.field { display: block; margin: .5em 0; }

.field button { float: left; margin-right: .5em; position: relative; top: 4px; }

#filter-btn { }
