{% extends "layouts/layout.html" %}

{% block page %}
    <link href="{{ url_for('static', filename='css/display.css') }}" rel="stylesheet">

    <div id="title-bar">
        <h2>Samples</h2>
        {#    <div class="msg-box">#}
        {#        <div class="msg"></div>#}
        {#    </div>#}
        <a id="txt-btn" type="button" class="btn btn-default disabled" href="#">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
        <a id="pdf-btn" type="button" class="btn btn-default disabled" href="#">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </a>
    </div>

    <div class="content">
        <div id="graph" class="graph"></div>

        {% include "filtercolumn.html" %}
    </div>

    {% include "sampledetails.html" %}
    {#    <script type="text/javascript" src="{{ url_for('static', filename='vendor/d3/d3.min.js') }}"></script>#}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
        var data = {{ nodes|tojson }},
            iconLink = "{{ url_for('static', filename='images/tube.png') }}"
        ;

    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/filter.js') }}"></script>

{% endblock page %}