{% extends "layouts/layout.html" %}

{% block page %}

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-select/dist/css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lineage.css') }}">

    <h1 class="title">Origin</h1>

    <div id="button-bar">
        {#   <div class="msg-box">#}
        {#       <div class="msg"></div>#}
        {#   </div>#}

        <a id="txt-btn" type="button" class="btn btn-default disabled" href="#">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
        <a id="pdf-btn" type="button" class="btn btn-default disabled" href="#">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </a>
    </div>

    <div class="page-content">
        {% include "nodemenu.html" %}
        <div id="graph" class="graph"></div>
    </div>

    {% include "sampledetails.html" %}

    <script>window.d3 || document.write('<script src="{{ url_for('static', filename='vendor/d3.v3.min.js') }}">\x3C/script>')</script>
    <script type="text/javascript">
        var data = {{ nodes|tojson }},
            iconLink = "{{ url_for('static', filename='images/tube.png') }}"
        ;
    </script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>

{% endblock page %}