<div id="node-menu" style="display: none;">
    <div class="panel panel-default arrow_box">
        <div class="panel-body">
            <button id="details-btn" class="btn btn-default btn-sm">
                <i class="fa fa-info" aria-hidden="true"></i> Details
            </button>
            <button id="lineage-btn" class="btn btn-default btn-sm">
                <i class="fa fa-code-fork" aria-hidden="true"></i> Lineage
            </button>
            <button id="add-sample-btn" class="btn btn-default btn-sm" data-sampleID="">
                <i class="fa fa-plus" aria-hidden="true"></i> Add child
            </button>
        </div>
    </div>
</div>
