<div id="tooltip" style="display: none;">
    <div class="panel panel-default arrow_box">
        <div class="panel-body">
            <button id="details-btn" class="btn btn-default btn-xs">
                <i class="fa fa-info" aria-hidden="true"></i> Details
            </button>
            <button id="lineage-btn" class="btn btn-default btn-xs" >
                <i class="fa fa-code-fork" aria-hidden="true"></i> Lineage
            </button>
            <button id="add-sample-btn" class="btn btn-default btn-xs">
                <i class="fa fa-plus" aria-hidden="true"></i> New
            </button>
        </div>
    </div>
</div>